
.card {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3D5A80;
  // width: 50%;
  // margin-left: 10em;
  padding-bottom: 50px;
  border-radius: 10px;
  input {
    padding: 10px;
    font-size: 1.3em;
    color: #3D5A80
  }
}

.render-chat {
  height: 20em;
  overflow-y: scroll;
  font-size: 1.1em;
}

.render-chat::-webkit-scrollbar {
  background-color: transparent;
}