.host {
  * {
    list-style-type: none;
  }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  .card {
    height: 40vh;
    justify-self: center;
    h4 {
      color: #E0FBFC;
      font-size: 1.3em;
    }
    margin: 0;

  }
  h3 {
    color: #3D5A80;
    font-size: 2em;
    border-bottom: 1px solid;
    padding-bottom: 5px;

  }
}

.questions {
  height: 50vh;
  overflow-y: scroll;
  border-radius: 10px;
  h3 {
    font-size: 2em;
    font-weight: 800;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    text-align: center;
    color: #3D5A80
  }
  li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #3D5A80;
    color: #E0FBFC;
    border: 1px solid #E0FBFC;
    padding: 5px;
    p {
      margin: 5px
    }
  }
}

.player-card {
  background-color: #3D5A80;
  padding: 1em;
  border: 1px solid #E0FBFC;
  h4 {
    font-size: 1.45em;
  }
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.players {
  height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;

  width: 100%;

}

.end-game {
  background-color: #3D5A80;
  font-size: 3em;
  position: absolute;
  margin-left: 100px;
}

.player-scores {
  display: flex;
  justify-content: space-around;
}

.player-score {
  display: flex;
  flex-flow: column;
  font-size: 1.4em;
  svg {
    font-size: 1.7em;
  }
  // p {
  //   font-size: ;
  // }
}